
@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
        </tr>
    </thead>
</table>